################################################################################
# Do not copy Microsoft(R) Visual Studio files
################################################################################
/.vs
